/* Custom Properties */
:root {
  /* Color */
  --color-main: #f8861d;
  --color-dark: #101010;
  --color-light-gray: #dfdfdf;

  /* Font */
  --font-sans-serif-ja: "Noto Sans JP", sans-serif;
  --font-sans-serif-en: "Jost", sans-serif;

  /* Offset */
  --offset-sm: 5vi;
  --offset-md: 10vi;
  --offset-lg: 15vi;

  /* Container size */
  --container-size-sm: 480px;
  --container-size-md: 768px;
  --container-size-lg: 960px;
  --container-size-xl: 1400px;

  /* Transition & Animation */
  --duration-fast: 0.3s;
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  font-family: var(--font-sans-serif-ja);
  font-weight: 700;
  line-break: strict;
  overflow-wrap: anywhere;
  line-height: 1.5;
}

:where(body) {
  min-block-size: 100svb;
  overflow-x: clip;
}

:where(ul, ol) {
  list-style-type: ""; /* リストのマーカーを削除 */
}

:where(:any-link) {
  color: unset;
}

:where(img, svg) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}

/* Container */
.container {
  max-inline-size: var(--max-container-size, var(--container-size-xl));
  padding-inline: var(--container-offset, var(--offset-sm));
  margin-inline: auto;
  box-sizing: content-box;
}

/* Header */
.header {
  display: block flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  padding-inline: var(--offset-sm);
}

.header-group {
  display: block flex;
  align-items: center;
  column-gap: 2rem;
}

.header-title {
  font-size: unset;
}

@media not screen and (min-width: 80rem) {
  .header-subtitle {
    display: none;
  }
}

/* Footer */
.footer {
  margin-block-start: 6rem;
  padding-inline: var(--offset-sm);
  padding-block: 4rem;
  background-color: var(--color-dark);
  color: var(--color-light-gray);
}

.footer-list {
  display: block flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* Nav */
.nav-list {
  display: block flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1rem;
}

@media not screen and (min-width: 80rem) {
  .nav-list {
    display: none;
  }
}

.nav-list a:not(.button) {
  position: relative;
  padding-inline: 0.5rem;
  text-decoration: none;
}

.nav-list a:not(.button)::after {
  padding-inline: 0.5rem;
  text-decoration: none;
}

/* Button */
.button {
  display: block flow;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  letter-spacing: 0.05em;
  border: 1px solid;
  border-radius: 2.5em;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 0.16);
  transition: var(--duration-fast) var(--ease-out-quart);
  transition-property: color, background-color;
}

.login {
  background-color: var(--color-dark);
}

.login:hover,
.login:focus-visible {
  background-color: var(--color-main);
}

.register {
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.button-hamburger {
  display: inline grid;
  place-content: center;
  inline-size: 48px;
  block-size: 48px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark);
  appearance: none;
  cursor: pointer;
}

@media screen and (min-width: 80rem) {
  .button-hamburger {
    display: none;
  }
}

.button-hamburger::before,
.button-hamburger::after {
  content: "";
  grid-area: 1 / -1;
  inline-size: 24px;
  block-size: 2px;
  background-color: #fff;
}

.button-hamburger::before {
  translate: 0 -4px;
}

.button-hamburger::after {
  translate: 0 4px;
}

/* Hero */
.hero-title {
  position: relative;
  z-index: 1;
  color: var(--color-main);
  text-align: center;
  font-size: 5rem;
  font-family: var(--font-sans-serif-en);
  margin-block-end: -3.5rem;
}

/* Spacer */
.spacer {
  margin-block-start: 5rem;
}

/* Heading */
.heading {
  color: var(--color-main);
  font-size: 2rem;
  margin-block-end: 2rem;
}

/* Copyright */
.copyright {
  margin-block-start: 2rem;
}

/* Pickups */
.pickups {
  --max-container-size: var(--container-size-lg);
}

/* Pickup */
.pickup-link {
  display: block grid;
  grid-template-areas: "cover";
  border-radius: 2rem;
  overflow: hidden;
  text-decoration: none;
}

.pickup-body {
  grid-area: cover;
  z-index: 1;
  display: block flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
  gap: 1rem;
  padding-inline: 5%;
  padding-block: 2rem;
  color: #fff;
  background-image: linear-gradient(rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0.5));
}

@media screen and (min-width: 48rem) {
  .pickup-body {
    flex-direction: row;
    align-items: flex-end;
  }
}

.pickup-cover {
  grid-area: cover;
  aspect-ratio: 1 / 1.2;
}

@media screen and (min-width: 48rem) {
  .pickup-cover {
    aspect-ratio: 1.414 / 1;
  }
}

@media screen and (min-width: 64rem) {
  .pickup-cover {
    aspect-ratio: 840 / 520;
  }
}

.pickup-cover img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover; /* 親要素にフィットするように拡大縮小をする */
  transition: scale var(--duration-fast) var(--ease-out-quart);
}

.pickup-link:hover img,
.pickup-link:focus-visible img {
  scale: 1.02;
}

.pickup-title {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

.pickup-date {
  margin-block-start: 0.5rem;
  font-family: var(--font-sans-serif-en);
  font-size: 0.75rem;
}
.pickup-text {
  margin-block-start: 0.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

/* Posts */
.posts {
  display: block grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2.5rem;
}

/* Post */
.post {
  display: block grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1rem 0;
}

.post-cover {
  order: -1;
}

.post-cover img {
  border-radius: 1rem;
  inline-size: 100%;
}

.post-footer {
  display: block flex;
  justify-content: space-between;
  align-items: center;
}

.post-author {
  display: block flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.post-author img {
  border-radius: 50%;
}

.post-date {
  font-size: 0.75rem;
  font-family: var(--font-sans-serif-en);
}

/*  Article */
.article {
  display: block grid;
  grid-template:
    [col-start] "author body meta" 1fr [col-end]
    / minmax(180px, 15%) 1fr minmax(180px, 15%);
  column-gap: 2.5rem;
}

.article-body {
  grid-area: body;
}
.article-footer {
  grid-area: author;
}
.article-meta {
  grid-area: meta;
}

/* Accessibility */
.visually-hidden:not(:focus-within, :active) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  user-select: none !important;
  border: 0 !important;
}
