@charset 'UTF-8';
/*
  Logo
*/
.p-logo,
.custom-logo-link {
  display: inline-block;
  padding: .5em 0;
  text-decoration: none;
  font-weight: bold;
  color: $main-color;
  font-size: 1.5em;
  letter-spacing: -.02em;
  line-height: 1;

  @include mq(tab) {
    padding: 1em 0;
    // font-size: 1.5em;
  }
}
