@charset 'UTF-8';
/*
  Footer
-----------------------------------------------------*/

.l-footer {
  clear: both;
  padding: 1.5em 0;
  background-color: $main-color;
  color: $hint-text-color;

  @include mq(tab) {
    padding: 3em 0;
  }

  &__text {
    margin-top: 1em;
    color: $sub-color;
    font-size: .75em;
    text-align: center;

    @include mq(tab) {
      text-align: left;
    }
  }


}
