body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100vh; /* 最低のボックスの高さを指定するプロパティ */
  background-image: linear-gradient(135deg, rgb(23 171 67 / 0.8), rgb(23 171 67 / 0) 70%), linear-gradient(225deg, rgb(30 143 204 / 0.8), rgb(30 143 204 / 0) 70%),
    linear-gradient(315deg, rgb(232 64 145 / 0.8), rgb(232 64 145 / 0) 70%), linear-gradient(45deg, rgb(239 226 40 / 0.8), rgb(239 226 40 / 0) 70%);
}
