/* Nav List */
.nav-list {
  display: block flex;
  align-items: center;
  column-gap: var(--space-lg);

  @media not screen and (width >= 64rem) {
    display: none;
  }

  a {
    position: relative;
    display: inline flow-root;
    padding-block: 0.25rem;
    text-decoration: none;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      block-size: 1px;
      background-color: #fff;
      scale: 0 1;
      transform-origin: 100% center;
      transition: scale 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:focus-visible {
      &::after {
        scale: 1 1;
        transform-origin: 0% center;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          scale: 1 1;
          transform-origin: 0% center;
        }
      }
    }
  }
}
