/* Custom Proparties */

/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  line-break: strict;
  overflow-wrap: anywhere;
  background-color: #101010;
  color: #fff;
}

:where(body) {
  min-block-size: 100svb;
  overflow-x: clip;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: unset;
  font-weight: unset;
}

:where(strong) {
  font-weight: unset;
}

:where(em) {
  font-style: unset;
}

:where(ul, ol) {
  list-style-type: "";
}

:where(table) {
  border-collapse: collapse;
}

:where(a:any-link) {
  color: unset;
}

:where(img, iframe) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}

/* Header */
.header {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5vi;
  padding-block: 1.5rem;
  mix-blend-mode: exclusion;
}

/* Main */
.main {
  margin-block-start: 4rem;
}

/* Footer */
.footer {
  padding-inline: 5vi;
  padding-block: 4rem;
  text-align: center;
}

/* Site Name */
.site-name {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

/* Nav List */
.nav-list {
  display: block flex;
  align-items: center;
  column-gap: 2.5rem;
}

.nav-list a {
  position: relative;
  display: inline flow-root;
  padding-block: 0.25rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-list a::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  block-size: 1px;
  background-color: #fff;
  scale: 0 1;
  transform-origin: 100% center;
  transition: scale 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-list a:hover::after,
.nav-list a:focus-visible::after {
  scale: 1 1;
  transform-origin: 0% center;
}

/* Page */
.page-title {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05em;
}

/* Container */
.container {
  max-inline-size: 1100px;
  padding-inline: 5vi;
  margin-inline: auto;
  box-sizing: content-box;
}

/* Service */
.services {
  margin-block-start: 4rem;
  display: block grid;
  row-gap: 2.5rem;
}

.service {
  display: block grid;
  align-items: center;
  text-decoration: none;
}

.service:hover,
.service:focus {
  box-shadow: 0 0 40px -8px rgb(255 255 255 / 0.1);
}

.service-cover {
  grid-area: 1 / 1;
  aspect-ratio: 3 / 1;
}

.service-image {
  filter: grayscale(30%) opacity(30%);
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover; /* 親要素に対して画像をどう配置するか */
}

.service:hover .service-image,
.service:focus .service-image {
  filter: opacity(70%);
}

.service-name {
  grid-area: 1 / 1;
  z-index: 1;
  inline-size: fit-content;
  margin-inline: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.service:hover .service-name,
.service:focus .service-name {
  text-shadow: 0 1px 4px rgb(0 0 0 / 0.16);
}

/* Loop Text */
.loop-text {
  margin-block-start: 5rem;
  display: block flex;
  overflow: hidden;
}

.loop-text p {
  padding-inline-end: 1em;
  font-size: 5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #303030;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-transform: uppercase;
  animation: loop 30s linear infinite both;
}

@keyframes loop {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
