:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #000;
  --color-quaternary: #fff;
  --color-quinary: #000;
  --color-senary: #fff;
  --color-septenary: #000;
  --color-octonary: #fff;
  --color-nonary: #000;
  --color-denary: #fff;
}