* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 3rem;
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5vi;

  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1em;
  }
}

/* Button Hamburger */
.button-hamburger {
  --button-size: 64px;

  position: relative;
  z-index: 10;
  display: inline grid;
  inline-size: var(--button-size);
  block-size: var(--button-size);
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    grid-area: 1 / 1;
    place-self: center;
    inline-size: 50%;
    block-size: 2px;
    background-color: currentColor;
  }

  /* ドロワーが閉じてる時 */
  &[aria-expanded="false"] {
    &::before {
      translate: 0 -4px;
    }

    &::after {
      translate: 0 4px;
    }
  }

  /* ドロワー展開時 */
  &[aria-expanded="true"] {
    &::before {
      translate: 0;
      rotate: -45deg;
    }

    &::after {
      translate: 0;
      rotate: 45deg;
    }
  }
}

/* Drawer */
.drawer {
  position: fixed;
  inset: 0;
  display: block grid;
  align-content: center;
  padding-inline: 10vi;
  background-color: currentColor;
  transition: 0.6s ease-out;
  transition-property: opacity;

  /* ドロワーが閉じてる時 */
  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
  }

  /* ドロワー展開時 */
  &[aria-hidden="false"] {
    opacity: 1;
  }
}

/* Nav Global */
.nav-global {
  display: block grid;
  row-gap: 1rem;

  a:any-link {
    color: #666;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 0.1em;

    &:hover,
    &:focus-visible {
      color: #fff;
    }
  }
}

/* Hero */
.hero {
  display: block grid;
  place-content: center;
  min-block-size: 100svb;
}

.hero-text {
  font-size: 10rem;
  font-weight: 200;
  letter-spacing: 0.1em;
  opacity: 0;
  transition: 1.2s ease-in-out;
  transition-property: opacity;

  /* ロード完了時 */
  html[data-status="loaded"] & {
    opacity: 1;
  }
}

/* アクセシビリティ */
:where(.visually-hidden:not(:focus-within, :active)) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  user-select: none !important;
  border: 0 !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after,
  ::backdrop {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    animation-delay: unset !important;
    transition-delay: unset !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    view-transition-name: none !important;
  }
}
