:root {
  --color-dark: #101010;
  --color-light: #fff;

  --font-xl: 3rem;

  --offset-sm: 5vi;
  --offset-md: 10vi;
  --offset-lg: 15vi;

  --duration-fast: 0.3s;
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
  min-inline-size: 0;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after,
  ::backdrop {
    transition: none !important;
    animation: none !important;
  }
}

:where(html) {
  color: var(--color-dark);
  background-color: var(--color-light);
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

:where(ul, ol) {
  list-style-type: "";
}

:where(img, svg) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}

.grid {
  display: block grid;
  grid-template-columns: var(--cols, 1fr);
  gap: 2rem;
  margin-block: 4rem;

  @media (width >= 64rem) {
    --cols: minmax(240px, 20vi) 1fr;
  }
}

.container {
  container: container / inline-size;
  padding-inline: var(--offset-sm);
  margin-inline: auto;
}

.header {
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: var(--offset-sm);
}

.footer {
  padding-block: 1.5rem;
  padding-inline: var(--offset-sm);
}

.logo {
  inline-size: 160px;
  fill: currentColor;
}

.global-nav {
  display: block flex;
  align-items: center;
  gap: 2rem;
}

@media not screen and (min-width: 64rem) {
  .global-nav {
    display: none;
  }
}

.local-nav {
  ul {
    display: block grid;
    gap: 1rem;
  }

  a:not([aria-current="page"]) {
    opacity: 0.7;
  }
}

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: var(--duration-fast) var(--ease-out-quart);
  transition-property: opacity;

  &:hover {
    opacity: 0.7;
  }
}

.button-hamburger {
  display: block grid;
  place-content: center;
  inline-size: 48px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark);
  appearance: none;
  cursor: pointer;
}

@media (width >= 64rem) {
  .button-hamburger {
    display: none;
  }
}

.heading {
  font-size: var(--font-xl);
}

.menu {
  display: block grid;
  margin-block-start: 2rem;
  grid-template-columns: repeat(var(--cols, 1), minmax(0, 1fr));
  gap: var(--gap, 1.5rem);
}

@container (inline-size >= 48rem) {
  .menu {
    --cols: 2;
    --gap: 2rem;
  }
}

@container (inline-size >= 64rem) {
  .menu {
    --cols: 3;
    --gap: 2.5rem;
  }
}

.card {
  container: card / inline-size;
  display: block flow;
  text-decoration: none;
  color: inherit;
}

.card-cover {
  overflow: hidden;
  aspect-ratio: 1;

  & img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    transition: var(--duration-fast) var(--ease-out-quart);
    transition-property: scale;

    &:where([src*="photo-coffee"]) {
      object-position: right center;
    }

    .card:focus-visible & {
      scale: 1.1;
    }

    @media (any-hover: hover) {
      .card:hover & {
        scale: 1.1;
      }
    }
  }
}

@container card (inline-size >= 30rem) {
  .card-cover {
    aspect-ratio: 480 / 320;
  }
}

.card-caption {
  margin-block-start: 0.5rem;
  letter-spacing: 0.05em;
}
