body {
	font-family: "Helvetica Neue", Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", sans-serif;
	font-weight: 500;
}

.heading {
	font-size: 5vw;
	font-family: "DIN Alternate", Verdana, Arial, serif;
}

em {
	font-style: normal;
}

.site-name {
	font-stretch: condensed;
}

.post-title {
	font-size: 1.5rem;
	font-weight: 900;
}

.post-date {
	font-size: 0.875rem;
}

.post-author {
	font-size: 0.75rem;
}