/* Footer */
.footer {
  margin-block-start: calc(96 * var(--torem));
  padding-inline: var(--offset-sm);
  padding-block: calc(48 * var(--torem));
  background-color: var(--color-dark);
  color: var(--color-light-gray);
}

.footer-list {
  display: block flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
