a {
	color: #000;
	text-decoration: none;
}

li {
	display: grid;
	place-content: center;
	height: 100%;
	margin: 0;
	background-color: #fff;
	font-family: sans-serif;

}

.text {
  display: flex; /* テキストと疑似要素を横並びにする */
  font-size: 60px;
  align-items: center; /* 上下中央に揃える */
	position: relative;
}

.text::before {
  position: absolute;
  bottom: -15px; 
  left: 50%;
  
  width: 0.25em; 
  height: 0.25em;
  
  content: "";
  background-color: #000;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-50%) translateY(10px); 
}

.text:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);

}