* {
	color: inherit;
}

:where(h1, h2, h3) {
	font-size: inherit;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.5;
	line-break: strict;
	overflow-wrap: anywhere;
}

body[data-theme~="dashboard"] {
	background-color: #efefef;
}

body[data-theme~="bold"] {
	font-weight: 700;
}

.nav-item::marker {
	color: #f8861d;
}

.nav-link {
	text-decoration: none;
}

.nav-link:any-link:hover {
	text-decoration: underline;
}

.table {
	background-color: #fff;
}

.table>tbody>tr:nth-child(even) {
	background-color: #f0f0f0;
}

.footer small {
	font-size: 0.75rem;
}