* {
	color: inherit;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.5;
	line-break: strict;
	overflow-wrap: anywhere;
}

body[data-theme~="dashboard"] {
	background-color: #efefef;
}

body[data-theme~="bold"] {
	font-weight: 700;
}