* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  line-break: strict;
  overflow-wrap: anywhere;
}

:where(body) {
  min-block-size: 100vb;
}
:where(h2, h3, p) {
  margin-block: 1em;
}

.container {
  padding-inline: 5vi;
  padding-block: 5rem;
  max-inline-size: 840px;
  margin-inline: auto;
}

.contents {
  overflow: scroll;
  margin-block-start: 2rem;
  border: 1px solid #ddd;
  padding: 1rem;
  max-block-size: 400px;
  line-height: 2;
  letter-spacing: 0.1em;
}

.contents ul,
.contents ol {
  padding-inline-start: 1.25rem;
}
