body {
	transition: 0.6s ease-out;
	transition-property: color, background-color;
}

.dark {
	background-color: #101010;
	color: #f0f0f0;
	transition: 0.6s ease-out;
	transition-property: color, background-color;
}