
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');


:root {
    --base-color:#8C738E;
    --accent-color:#EEE6F0;
	--font-color: #614E65;
	--text-color: #3B3B3B;
	--small-text-color: #5C4E62;
	--font-zenkaku: "Zen Kaku Gothic New", sans-serif;
	--font-libre: "Libre Baskerville", sans-serif;
	--base-font-size: 16;
	--rem-ratio: calc(1rem / var(--base-font-size));
}



body {
	color: var(--font-color);
	font-size: calc(16 * var(--rem-ratio));
	font-family: var(--font-zenkaku);
	font-weight: 400;
}

ul {
    li {
        list-style: none;
    }
}

img {
	width: 100%;

}

.section {
	display: grid;
	gap: 80px;
    max-width: 1020px;
	width: 100%;
	margin-inline: auto;
    padding: 100px 0;
		@media (max-width:600px) {
			flex-direction: column-reverse;
			padding: 100px 20px;
		}
	.essay_list {
		width: 100%;

		.essay_item {
			.spring {
				img {
					aspect-ratio: 484 / 284;
				}
			}

			.summer {
				img {
					aspect-ratio: 484 / 340;
				}
			}
			.autumn {
				img {
					aspect-ratio: 484 / 452;
				}
			}
			.winter {
				img {
					aspect-ratio: 1 / 1;
				}
			}
			.content {
					display: flex;
					gap: 52px;

				@media (max-width:600px) {
					flex-direction: column-reverse;
				}

				img {
					object-fit: cover;
				}

			img, .right {
				flex: 1;
			}
			.right {
				font-size: calc(28 * var(--rem-ratio));

				.heading {
					width: 100%;
    				position: relative;
					padding-top: 30px;

					&::after {
					.deco {
						position: absolute;
						top: 0;
						right: 0;
						z-index: -1;
						color: var(--accent-color);
						font-size: calc(113 * var(--rem-ratio));
						font-family: var(--font-libre);
						font-style: italic;
					}
					}

					.title_underline {
						display: grid;
    					gap: 14px;
						color: var(--base-color);
						font-size: calc(28 * var(--rem-ratio));
						line-height: 1.6;
						font-weight: bold;
						letter-spacing: -0.02em;
						padding-bottom: 40px;

					&::after {
						display: block;
						content: "";
						width: 100%;
						height: 1px;
						background-color: var(--base-color);
						
					}
					}

					.deco {
						position: absolute;
						top: -34px;
						right: 0;
						z-index: -1;
						color: var(--accent-color);
						font-size: calc(113 * var(--rem-ratio));
						font-family: var(--font-libre);
						font-style: italic;
						line-height: 1.6;

					}
				}

				.text_container {
					display: grid;
					gap: 16px;

				.main_text {
					font-size: calc(20 * var(--rem-ratio));
					line-height: 1.6;
					color: var(--text-color);
				}

				.sub_text {
					font-size: calc(15 * var(--rem-ratio));
					line-height: 1.6;
					color: var(--small-text-color);
				}
				}

			}
			.content:nth-child(even) {
				flex-direction: row-reverse;
			}

			}

		}
	}


}