body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100vh; /* 最低のボックスの高さを指定するプロパティ */
  background-image: repeating-radial-gradient(circle, #ccc 0 20px, #fff 20px 40px);
}
