* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-break: strict;
  overflow-wrap: anywhere;
  line-height: 1.5;
}

:where(body) {
  min-block-size: 100svb;
}

.header {
  padding-inline: 5vi;
  padding-block: 3rem;
}

.logo:hover,
.logo:focus-visible {
  opacity: 0.7;
}

.site-description {
  letter-spacing: 0.1em;
}

.footer {
  padding-inline: 5vi;
  padding-block: 4rem;
  background-color: #101010;
  color: #dfdfdf;
}

.copyright {
  margin-block-start: 2rem;
}

.nav-list {
  display: block flex;
}

.nav-list > li {
  display: block flow;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

.action-list > li {
  display: inline flow-root;
}

.button {
  display: block flow;
  text-decoration: none;
  color: #fff;
  padding-block: 1.25rem;
  padding-inline: 3rem;
  letter-spacing: 0.05em;
  border-radius: 2.5em;
}

.login {
  border: 2px solid;
}

.register {
  background-color: #f8861d;
}

.button:hover {
  background-color: #fff;
  color: #101010;
}

time {
  visibility: hidden;
}
