/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after,
  ::backdrop {
    transition: none !important;
    animation: none !important;
  }
}

:where(html) {
  font-family: var(--font-sans-serif-ja);
  font-weight: 700;
  line-break: strict;
  overflow-wrap: anywhere;
  line-height: 1.5;
}

:where(body) {
  min-block-size: 100svb;
  overflow-x: clip;
}

:where(ul, ol) {
  list-style-type: ""; /* リストのマーカーを削除 */
}

:where(:any-link) {
  color: unset;
}

:where(img, svg) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}
