@charset 'UTF-8';
/*
  Contents
-----------------------------------------------------*/

.l-contents {
  clear: both;
  padding: set-size(24px) 0;
  overflow: hidden;

  @include mq(tab) {
    padding: set-size(48px) 0;
  }

  &.-themeWhite {
    background-color: #fff;
  }
}
