@charset 'UTF-8';
/*
  Contents
-----------------------------------------------------*/

.l-contents {
  clear: both;
  padding: set-size(24px) 0;
  overflow: hidden;

  @include mq(tab) {
    padding: set-size(48px) 0;
  }

  &.-themeWhite {
    background-color: #fff;
  }

  &__button {
    max-width: 400px;
    margin: 1.5rem auto 0;

    @include mq(tab) {
      margin-top: 3rem;
    }
  }
}
