.font-1 {
  font-family: "Noto Sans JP", system-ui;
  font-weight: 900;
  font-size: 1.5rem;
}

.font-2 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5rem;
}

.font-3 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
