body {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.5;
	font-feature-settings: "palt";
}

em {
	font-style: normal;
}

.site-name {
	font-family: "Inter", sans-serif;
	line-height: 1.25;
}

.heading {
	font: 400 1.25rem "Inter", sans-serif;
}

.copy {
	font-size: 2.5rem;
	font-weight: 200;
}

.post-title {
	font-size: 2rem;
	font-weight: 400;
}

.post-description {
	font-size: 0.875rem;
}

.role {
	font-size: 0.75rem;
}

.copyright {
	font-family: "Inter", sans-serif;
}