@charset 'UTF-8';
/*
  Main
-----------------------------------------------------*/

.l-main {
  clear: both;
}

@include mq(tab) {
  .l-main {
    width: percentage(824px / $content-width);
    float: left;
  }

  .l-main.-single{
    width: auto;
    float: none;
  }
}
