/* Site Name */
.site-name {
  font-family: var(--font-sans-serif-en);
  font-size: clamp(var(--font-md), 0.8239rem + 0.7512vw, var(--font-lg));
  letter-spacing: var(--tracking-wider);
  font-weight: 700;
}
