	/* Page */
	.page-title {
		font-size: clamp(var(--font-xl), 1.4718rem + 2.2535vw, var(--font-2xl));
		font-weight: 700;
		font-family: var(--font-sans-serif-en);
		letter-spacing: var(--tracking-wider);
	}

	/* Container */
	.container {
		max-inline-size: var(--max-container-size, var(--container-size-lg));
		padding-inline: var(--container-offset, var(--offset-md));
		margin-inline: auto;
		box-sizing: content-box;
	}