/* Reset */
*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:where(body) {
	min-block-size: 100svb;
}

:where(:root) {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 1.5;
	line-break: strict;
	overflow-wrap: anywhere;
	color: #202020;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-size: unset;
	font-weight: unset;
}

:where(strong) {
	font-weight: unset;
}

:where(em) {
	font-style: unset;
}

:where(a:any-link) {
	color: unset;
}

:where(img, iframe) {
	max-inline-size: 100%;
	block-size: auto;
}

.header {
	padding-inline: 5vi;
	padding-block: 1.5rem;
	border-bottom-width: 1px;
	border-block-end: 1px solid #e0e0e0;
}

.site-name {
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
	font-weight: 700;
}

.copy {
	font-size: 3rem;
	font-weight: 700;
	word-break: keep-all;
	text-wrap: balance;
	font-feature-settings: "palt";
}

.heading {
	font-size: 3.5rem;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}

.post-title {
	font-size: 2rem;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}

.footer {
	padding-inline: 5vi;
	padding-block: 3rem;

}

.hero {
	padding-inline: 10vi;
	padding-block: 10rem;
	border-block-end-width: 1px;
	border-block-end-style: solid;
	border-block-end-color: #e0e0e0;
}

.section {
	padding-block: 4rem;

}

.container {
	max-inline-size: 1200px;
	padding-inline: 5vi;
	margin-inline: auto;
	box-sizing: content-box;

}

.articles {
	margin-block-start: 2rem;
}

.post-description {
	margin-block-start: 1rem;
}

.post-meta {
	margin-block-start: 1.5rem;
	padding: 2rem;
	border: 1px dotted #e0e0e0;
}