:where(body) {
  margin: 0;
  background-color: #efefef;
}

:where(h1, h2, p) {
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  inline-size: 960px;
  box-sizing: border-box;
  height: 100lvh;
  margin-inline: auto;
  border-inline: 1px dotted #c00;
  z-index: -1;
}

h1 {
  text-align: center;
  margin-block-start: 4rem;
}

.container {
  max-inline-size: 960px;
  padding-inline: 5vi;
  margin-block-start: 4rem;
  margin-inline: auto;
  border: 1px dotted;
  background-color: #b4e9e8;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.section {
  padding: 1.5rem;
  background-color: #fff;
}
