body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

em {
  font-style: normal;
}

.heading {
  font-family: "Jost", sans-serif;
  font-size: 5rem;
  line-height: 1.25;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.post-date {
  font-size: 0.875rem;
}

.post-author {
  font-size: 0.75rem;
}
