/* Base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:where(html) {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 700;
	line-break: strict;
	overflow-wrap: anywhere;
	line-height: 1.5;
}

:where(body) {
	min-block-size: 100svb;
	background-color: #f0f0f0;
}

:where(:any-link) {
	color: unset;
}

:where(img, svg) {
	display: block flow;
	max-inline-size: 100%;
	block-size: auto;
}

:where(ul, ol) {
	list-style-type: "";

}

:where(table) {
	border-collapse: collapse;
}

/* Container */
.container {
	max-inline-size: 1280px;
	padding-inline: 5vi;
	margin-inline: auto;
	box-sizing: content-box;
}

/* Header */
.header {
	position: sticky;
	z-index: 10;
	inset-block-start: 0;
	display: block flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding-block: 1rem;
	padding-inline: 5vi;
	background-color: #101010;
}

.header-title {
	font-size: unset;
}

/* Nav */
.nav-button {
	background-color: #f8861d;
	color: #fff;
	text-decoration: none;
	font-size: 0.875rem;
	padding-inline: 0.75em;
	padding-block: 0.5em;
	border-radius: 0.5rem;
	letter-spacing: 0.05em;
}

.local-nav {
	margin-block-start: 4rem;
}

.filter-list {
	list-style-type: square;
	padding-inline-start: 1.25em;
}

.filter-list li::marker {
	color: #f8861d;
}


/* Footer */
.footer {
	margin-block-start: 6rem;
	padding-inline: 5vi;
	padding-block: 2rem;
	background-color: #101010;
	color: #dfdfdf;
}

/* Main */
.main {
	padding-block: 4rem;
}

.page-title {
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	font-weight: 900;
}

/* Table */
.table {
	background-color: #fff;
	inline-size: 100%;
	margin-block-start: 2rem;
}

.table tbody tr {
	border-block-start: 1px solid #ddd;
}

.table :is(th, td) {
	padding-inline: 1rem;
	padding-block: 1.5rem;
	font-weight: 400;
	text-align: start;
	table-layout: fixed;
}

caption {
	font-size: 0.875rem;
	text-align: start;
	margin-block-end: 1rem;
}

.table thead th {
	font-weight: 700;
}


/* From */
.form {
	display: block grid;
	row-gap: 2.5rem;
	margin-block-start: 4rem;
}

.fieldset {
	border: 0;
}

.fieldset ul li {
	display: inline flow-root;
	margin-inline-end: 1.5em;
}

.term {
	display: inline flow-root;
	margin-block-end: 0.75rem;
}

.textfield {
	inline-size: 100%;
	font: inherit;
	border: 2px solid;
	padding-inline: 1rem;
	padding-block: 0.75em;
	border-radius: 0.5em;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
}

.textfield::placeholder {
	color: #999;
}

.file::file-selector-button {
	appearance: none;
	font-weight: 700;
	font-size: 1rem;
	background-color: #101010;
	color: #fff;
	padding-inline: 1em;
	padding-block: .75em;
	border-radius: 1.5rem;
	border: 0;
	cursor: pointer;
}

.checkbox {
	position: relative;
	appearance: none;
	inline-size: 1.25em;
	block-size: 1.25em;
	background-color: #fff;
	border: 2px solid;

}

.checkbox:checked::after {
	position: absolute;
	inset: 0;
	content: "✓";
	color: #f8861d;
}

.selectbox {
	appearance: none;

	padding-block: .75em;
	padding-inline: 1em 3em;
	border: 2px solid;
	font: inherit;
	border-radius: 0.5em;
	font-weight: 700;
	background: #fff url(../img/icon-down.svg) no-repeat 95% center;
	cursor: pointer;
}

button {
	appearance: none;
	background-color: #101010;
	color: #fff;
	font: inherit;
	text-align: center;
	padding-inline: 1em;
	padding-block: .75em;
	border-radius: 1em;
	border: 0;
	cursor: pointer;
}