body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
}

.writing-rl {
  writing-mode: vertical-rl;
}

.text-upright {
  text-orientation: upright;
}

.text-sideways {
  text-orientation: sideways;
}

.text-end {
  text-align: end;
}
