body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
}

em {
  font-style: normal;
}

.line-loose {
  line-break: loose;
}

.line-strict {
  line-break: strict;
}

.line-anywhere {
  line-break: anywhere;
}
