/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(:root) {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  line-break: strict;
  overflow-wrap: anywhere;
  color: #202020;
}

:where(body) {
  min-block-size: 100svb;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: unset;
  font-weight: unset;
}

:where(strong) {
  font-weight: unset;
}

:where(em) {
  font-style: unset;
}

:where(ul, ol) {
  list-style-type: ""; /* リストのマーカーを削除 */
}

:where(a:any-link) {
  color: unset;
}

:where(img, iframe) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}

/* Header */
.header {
  display: block flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5vi;
  padding-block: 1.5rem;
  border-block-end: 1px solid #e0e0e0;
}

/* Footer */
.footer {
  padding-inline: 5vi;
  padding-block: 3rem;
  text-align: center;
}

/* Site Name */
.site-name {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

/* Nav List */
.nav-list {
  display: block flex;
  align-items: center;
  gap: 0.5rem 2rem;
}

.nav-list a {
  text-decoration: none;
  font-weight: 500;
}

.nav-list a:hover,
.nav-list a:focus-visible {
  text-decoration: underline;
}

/* Hero */
.hero {
  display: block grid;
}

.hero-copy {
  grid-area: 1 / 1;
  z-index: 1;
  align-self: center;
  max-inline-size: 10em;
  margin-inline-start: 5vw;
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
  text-wrap: balance;
  font-feature-settings: "palt";
}

.hero-cover {
  grid-area: 1 / 1;
}

/* Section */
.section {
  padding-block: 4rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

/* Container */
.container {
  max-inline-size: 1200px;
  padding-inline: 5vi;
  margin-inline: auto;
  box-sizing: content-box;
}

/* Heading */
.heading {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05em;
}

/* History */
.history-column {
  columns: 30em 4;
  column-rule: 1px solid;
  column-gap: 4rem;
  margin-block-start: 4rem;
}

.history-subcolumn {
  columns: 15em 2;
  column-gap: 1.5rem;
  margin-block: 1.5em;
}

.history-title {
  border-block-end: 4px solid;
  padding-block-end: 0.5em;
  margin-block-end: 1em;
  font-size: 2rem;
}

.history-subtitle {
  margin-block-end: 1em;
  font-size: 1.5rem;
  word-break: keep-all;
}

.history-span-all {
  column-span: all;
}

.history-column p {
  line-height: 2;
  letter-spacing: 0.05em;
  text-align: justify;
}

.history-photo img {
  inline-size: 100%;
}

.history-photo figcaption {
  font-size: 0.625em;
  color: #666;
  letter-spacing: 0.1em;
  margin-block-start: 0.25em;
  text-align: center;
}

/*  Float */

/*  News */
.news-list {
  display: block grid;
  grid-template-columns: max-content 1fr;
  row-gap: 1.5rem;
  margin-block-start: 2rem;
  padding: 2rem;
  border: 1px solid #ddd;
  background-color: #fafafa;
}

.news-item {
  display: block grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  column-gap: 4rem;
  letter-spacing: 0.05em;
}
