body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
}

.writing-tb {
  writing-mode: horizontal-tb;
}

.writing-rl {
  writing-mode: vertical-rl;
}

.text-end {
  text-align: end;
}

.text-link {
  text-underline-position: left;
}
