@charset 'UTF-8';
/*
  Centering
-----------------------------------------------------*/
.l-container {
  max-width: $content-width;
  width: 95%;
  margin: 0 auto;

  &.-spFull {
    width: 100%;
  }

  &.-button {
    width: 100%;
    max-width: 320px;
  }
}
