@charset 'UTF-8';

/*
  Spacer
-----------------------------------------------------*/
.l-spacer {
  padding: 1.5em 0;

  @include mq(md) {
    padding: 2.5em 0;
  }

  // ---------------------------------
  //  Style
  // ---------------------------------
  &.-top {
    padding-bottom: 0;
  }
  &.-bottom {
    padding-top: 0;
  }

  // ---------------------------------
  //  Color
  // ---------------------------------
  &.-white {
    background-color: #fff;
  }
}
