body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
}

em {
  font-style: normal;
}

.wrap {
  text-wrap: wrap;
}

.nowrap {
  text-wrap: nowrap;
}

.blance {
  text-wrap: balance;
}
