/* Reset */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(html) {
	font-family: "Noto Sans JP", sans-serif;
	line-height: 2;
	line-break: strict;
	overflow-wrap: anywhere;
	color: #101010;
	font-weight: 900;
}

:where(body) {
	block-size: 100svb;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-size: inherit;
	font-weight: inherit;
}

:where(h1) {
	font-size: 2.5rem;
	color: #f8861d;
}

:where(h2) {
	font-size: 2rem;
	color: #f8861d;
}

:where(h3) {
	font-size: 1.5rem;
}

:where(strong) {
	font-weight: inherit;
}

:where(em) {
	font-style: inherit;
}

:where(a:any-link) {
	color: inherit;
}

:where(img, picture, video, iframe) {
	max-inline-size: 100%;
	block-size: auto;
}

/* Header */
.header {
	padding-inline: 5vi;
	padding-block: 1.5rem;
}

/* Footer */
.footer {
	padding-inline: 5vi;
	padding-block: 4rem;
	background-color: #101010;
	color: #fff;
}

/* Container */
.container {
	box-sizing: content-box;
	max-inline-size: 840px;
	padding-inline: 5vi;
	margin-inline: auto;
}

/* Post */
.post-cover {
	margin-inline-start: 1.5rem;
}

.post-description {
	margin-inline-start: 1.5rem;
}

/* Local Nav */
.local-nav {
	inline-size: 80%;
	margin-inline: auto;
	margin-inline-start: -1.5rem;
}

/* Section */
.section {
	margin-block: 4.5rem;
}

/* Heading */
.heading {
	border-inline-start: 4px solid #f8861d;
	padding-inline-start: 0.5rem;
	margin-block-end: 1.5rem;
}

/* List  */
.list>li {
	border-block-end: 1px solid;
	padding-block: 1rem;
}

/* Embed Video */
.embed-video {
	inline-size: 100%;
	aspect-ratio: 16/9;
	block-size: 100%;
}

/* FAQ */
.faq {
	padding-inline: 5rem;
	background-color: #efefef;
}

.faq-list>div {
	padding: 1.5rem;
	margin-block-start: 1.5rem;
	background-color: #fff;
}