/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-break: strict;
  overflow-wrap: anywhere;
  line-height: 1.5;
}

:where(body) {
  min-block-size: 100svb;
}

:where(ul, ol) {
  list-style-type: ""; /* リストのマーカーを削除 */
}

:where(:any-link) {
  color: unset;
}

:where(img, svg) {
  display: block flow;
  max-inline-size: 100%;
  block-size: auto;
}

/* Container */
.container {
  max-inline-size: 1400px;
  padding-inline: 5vi;
  margin-inline: auto;
  box-sizing: content-box;
}

/* Header */
.header {
  display: block flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
  padding-inline: 5vi;
}

.header-group {
  display: block flex;
  align-items: center;
  column-gap: 2rem;
}

.header-title {
  font-size: unset;
}

/* Footer */

.footer {
  margin-block-start: 6rem;
  padding-inline: 5vi;
  padding-block: 4rem;
  background-color: #101010;
  color: #dfdfdf;
}

.footer-list {
  display: block flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* Nav */
.nav-list {
  display: block flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 2rem;
}

/* Hero */
.hero-title {
  color: #f8861d;
  text-align: center;
  font-size: 5rem;
  font-family: "Jost", sans-serif;
}

/* Spacer */
.spacer {
  margin-block-start: 5rem;
}

/* Heading */
.heading {
  color: #f8861d;
  font-size: 2rem;
  margin-block-end: 2rem;
}

/* Copyright */
.copyright {
  margin-block-start: 2rem;
}

/* Button */
.button {
  display: block flow;
  text-decoration: none;
  color: #fff;
  padding-block: 1.25rem;
  padding-inline: 3rem;
  letter-spacing: 0.05em;
  border-radius: 2.5em;
}

.login {
  border: 2px solid;
}

.register {
  background-color: #f8861d;
}

.button:hover {
  background-color: #fff;
  color: #101010;
}

/* Pick Up */

/* Posts */
.posts {
  display: block grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.post img {
  border-radius: 1rem;
  inline-size: 100%;
}
