@charset 'UTF-8';
/*
  Heading
*/

.c-heading {

  &.-primary {
    $font-size: 20px;
    font-size: set-size($font-size);
    margin-bottom: set-size(16px, $font-size);
  }

}


@include mq(tab) {
  .c-heading {
    &.-primary {
      font-size: 2em;
    }
  }
}
