@charset 'UTF-8';
/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .admin-bar & {
    top: set-size(46px);

    @include mq(tab) {
      top: set-size(32px);
    }
  }
}
