.none {
  border-style: none;
}

.hidden {
  border-style: hidden;
}

.solid {
  border-style: solid;
}

.double {
  border-style: double;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.groove {
  border-style: groove;
}

.ridge {
  border-style: ridge;
}

.inset {
  border-style: inset;
}

.outset {
  border-style: outset;
}
