body {
  font-family: "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.5;
}

em {
  font-style: normal;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-normal {
  letter-spacing: normal;
}

.tracking-wide {
  letter-spacing: 0.1em;
}
