:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #202020;
  line-height: 1.5;
  line-break: strict;
  overflow-wrap: anywhere;
}

body:has(input[data-theme="dark"]:checked) {
  background-color: #202020;
  color: #f0f0f0;
}

::selection {
  background-color: #999a7d;
}

.nav-list > li::marker {
  color: #808080;
}

.nav-list a {
  color: inherit;
  text-decoration: none;
}

.nav-list a:hover {
  color: #666;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.heading {
  font-size: 1.5rem;
}

.heading::first-letter {
  font-size: 1.5em;
}
