:root {
    --main-color:#FFC000;
    --color-point:#FFC617;
    --arie-color: #ea9572;
    --base-color-white:#FFFFFF;
    --font-color:#3F4B4D;
    --base-color:#3F4B4D;
	--bg-color: #F9F9F9;
    --font-family-Akshar: "Akshar", sans-serif;
    --font-family-NotoSans:"Noto Sans JP", sans-serif;
    --font-family-kakugo:"hiragino-kaku-gothic-pron", "ヒラギノ角ゴ ProN", sans-serif;
    --font-familiy-NotoSelif: "Noto Serif JP", serif;
	--text-letter-spacing: 0.05em;
	--ttl-letter-spacing: 0.08em;
	--text-line-hight: 1.8;
	--ttl-line-hight: 1.5;
}

.Main {
    padding-top: 100px;
}


.AccordionMenu {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.Menu {
    display: grid;
    row-gap: 64px;
    width: 100%;
    background-color: #fff;
}

.Menu-Item {
    /* position: relative; */
    margin-bottom: 1px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFE9A5;
}

.Menu-Item-Label { 
    /* position: relative; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    padding: 20px;
    cursor: pointer;
}

/* .Accordion-Btn {
    position: absolute;
    top: 15px;
    right: 2%;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 0.5em;
    height: 0.5em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(135deg);
}

.BtnIsActive {
    transition: .3s;
    transform: rotate(-45deg);
} */
.Accordion-Btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Accordion-Btn span {
    display: block;
    background-color: var(--base-color);
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: all 0.4s ease;
}

.Accordion-Btn span:nth-of-type(1) {
    transform: translateX(15px);
}

.Accordion-Btn span:nth-of-type(2) {
    transform: rotate(-90deg);
}

.Accordion-Btn span:nth-of-type(2).BtnIsActive {
    transform: rotate(0deg);
}

/* .Menu-Item-Label::before,  
.Menu-Item-Label::after { 
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--base-color);
}

.Menu-Item-Label::before { 
    top:48%;
    right: 15px;
    transform: rotate(0deg);
}

.Menu-Item-Label::after { 
    top:48%;
    right: 15px;
    transform: rotate(90deg);
}

.MenuIsClose::before { 
    transform: rotate(45deg);
}

.MenuIsClose::after { 
    transform: rotate(-45deg);
} */

.Menu-Item__Inner {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.5s;
}

.Menu-Item-Content {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    line-height: 2;
}

.Menu-ItemIsOpen {
    height: auto;
  }

.MenuIsClose {
    transform: rotate(-45deg);
}