@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color:#E0E0E0;
    --accent-color:#26BEC6;
    --light-green-color:#EDFAF9;
	--font-color: #000000;
	--white-color: #FFFFFF;
	--border-color: #E0E0E0;
	--base-font-size: 16;
	--rem-ratio: calc(1rem / var(--base-font-size));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	gap: 50px;
	font-family: "Noto Sans JP", sans-serif;
}


.price_table {
	width: 100%;
	margin-inline: auto;
	border-collapse: collapse;
	color: var(--font-color);
	font-size: calc(20 * var(--rem-ratio));
	table-layout: fixed;

}
@media (max-width:768px) {
	.price_table_inner,
	.table_container {
		overflow-x: scroll;
	}
}
	
.price_table_inner {
	max-width: 960px;
	margin-inline: auto;
}
.price_table tbody tr {
	background-color: var(--white-color);
}

.price_table thead tr {
	background-color: var(--accent-color);
	color: var(--white-color);
}

.price_table .price_table_header {
	background-color: var(--light-green-color);
	color: var(--accent-color);
}

.price_table th,
.price_table td {
	border: 2px solid var(--border-color);
	line-height: 1.2;
	padding: 16px 24px;
	word-wrap: break-word;
}
.price_table th {
	font-weight: 700;
}
.price_table td {
	font-weight: 500;
}

.small_note {
	font-size: calc(12 * var(--rem-ratio));
}

.price_table caption {
	font-size: calc(17 * var(--rem-ratio));
	caption-side: bottom;
	line-height: 1.6;
	text-align: left;
	margin-top: 16px;
}

/* Table */
.table_container {
	max-width: 596px;
	margin-inline: auto;
}
.table {
	width: 100%;
	max-width: 596px;
	border-collapse: collapse;
	font-size: calc(16 * var(--rem-ratio));
	color: var(--font-color);
	text-align: left;
	@media (max-width:768px) {
		overflow-x: scroll;
	}
}

.table th, 
.table td {
	border: 2px solid var(--border-color);
	text-align: center;
} 
.table thead tr th,
.table tbody tr th {
	font-weight: 700;
	line-height: 1.2;
	padding: 13px 0;
}
.table tr th {
	font-family: "Roboto", sans-serif;
}
.table tr td {
	padding: 12px 18px;
}
.table thead tr {
	background-color: var(--accent-color);
	color: var(--white-color);
	font-size: calc(15 * var(--rem-ratio));

}
.table tbody th {
	background-color: var(--light-green-color);
}
.table tbody tr {
	background-color: var(--white-color);
}

.table th:first-child {
	width: 32%;
}

.table th:last-child {
	width: 15%;
}