/* Button */
.button-hamburger {
  --button-size: 48px;

  display: inline grid;
  place-content: center;
  inline-size: var(--button-size);
  block-size: var(--button-size);
  border: none;
  color: inherit;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  @media screen and (width >= 64rem) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    grid-area: 1 / -1;
    inline-size: calc(var(--button-size) / 2);
    block-size: 2px;
    background-color: currentColor;
  }

  &::before {
    translate: 0 -4px;
  }

  &::after {
    translate: 0 4px;
  }
}
